<h1><%= List.first(@tables).company_name %></h1>
<%= @debug %>
<table>
<tr><th>Form Type</th><th>Date Filed</th><th>Filename</th></tr>
<%= for table <- @tables do %>
<tr>
<td><%= table.form_type %></td>
<td><%= table.date_filed %></td>
<td><%= link(table.filename, to: "tags/#{@cik}/#{get_adsh(table.filename)}") %></td>
<!--<td><%= link(table.filename, to: "https://www.sec.gov/Archives/#{table.filename}") %></td>-->
</tr>
<% end %>
</table>
