<h1>Companies</h1>
<table>
<tr><th>Company Name</th><th>Form Type</th><th>Date Filed</th></tr>
<%= for table <- @tables do %>
<tr>
<td><%= link(table.company_name, to: "/cik/#{to_charlist(table.cik)}") %></td>
<td><%= table.form_type %></td>
<td><%= table.date_filed %></td>
</tr>
<% end %>
</table>
