<ul>
<li><%= link("Text Sec Filing", to: "https://www.sec.gov/Archives/#{gen_filename(@cik, @adsh)}") %></li>
<li><%= link("Interactive Data", to: "https://www.sec.gov/cgi-bin/viewer?action=view&cik=#{@cik}&accession_number=#{@adsh}&xbrl_type=v") %></li>
</ul>
<table>
<tr><th>Value</th><th>Tag</th></tr>
<%= for tag <- @tag_keys do %>
<tr>
<td>
<%= SecFilings.HumanizeNumbers.humanize(Map.get(Map.get(@tags, tag), "fixed_value")) %>
</td>
<td>
<%= tag %>
</td>
</tr>
<% end %>
</table>
